.form-send {
  margin-left: auto;
}
.form-send__field {
  display: flex;
  position: relative;
}
.form-send__input {
  padding: 15px 16px;
  margin-right: 11px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: $border-radius;
  background-color: transparent;
  color: $primary-white-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  transition: box-shadow $time $animation-function;

  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &::placeholder {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: $placeholder-form-send-color;
  }
}
