.page-header {
  background-color: $primary-white-color;
  margin-bottom: 0%;
}
.portfolio-header {
  border-bottom: 1px solid $color-header-border;
}
.button-dropdown,
.dropdown-close-btn {
  background-color: transparent;
  padding: 0;
  border: none;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.dropdown-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}
.dropdown-menu {
  background-color: $primary-white-color;
  max-width: 480px;
  height: 100vh;
  width: 100%;
  padding: 48px 40px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  z-index: 23;
}
.dropdown-menu.is-open {
  transform: translateX(-50%) translateY(0);
}

.dropdown-menu-nav,
.dropdown-menu-contacts,
.dropdown-menu-links {
  @extend %list;
}
.dropdown-menu-nav__link,
.dropdown-menu-contacts__link,
.dropdown-menu-links__link {
  @extend %link;
}

.burger-icon,
.close-icon {
  width: 40px;
  height: 40px;
}
.dropdown-menu-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: $title-text-color;
}

.dropdown-menu-links.current {
  color: $accent-color;
}

.dropdown-menu-links {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;
}
.dropdown-menu-links__item {
  padding: 0 10px;

  &:not(:last-child) {
    border-right: 1px solid $color-header-border;
  }
}
.dropdown-wraper {
  display: inline-block;
  justify-content: space-between;
}
