.page-header {
  background-color: $primary-white-color;
  margin-bottom: 0%;
}
.portfolio-header {
  border-bottom: 1px solid $color-header-border;
}
.button-dropdown {
  background-color: transparent;
  padding: 0;
  border: none;
}
