.heroy {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: $footer-heroy-background-color;
  max-width: $max-width;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/overlay.jpg");
  background-size: cover;
  background-position: center;
}
.heroy__wraper {
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}
