.klient-list {
  @extend %list;
  display: flex;
}
.klient-list__item {
  width: 170px;
  height: 90px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.klient-list__links {
  @include centered-flex();
  @extend %link;
  color: $icon-color;
  width: 100%;
  height: 100%;
  fill: currentColor;
  border-color: $icon-color;
  border: 1px solid $icon-color;
  border-radius: 4px;

  transition: fill $time $animation-function,
    background-color $time $animation-function;
  &:hover,
  &:focus {
    fill: $accent-color;
    border-color: $accent-color;
  }
}
