%button {
  border-radius: $border-radius;
  color: $primary-white-color;
  background-color: $accent-color;
  font-family: $body-font;
  font-style: normal;
  font-weight: bold;
  font-size: $button-font-size;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: 0;

  transition: color $time $animation-function,
    background-color $time $animation-function;
}

.modal-button {
  @extend %button;
  @extend %centered-flex-box;
  padding: 10px 55.5px;
  transition: box-shadow $time $animation-function;
  &:hover,
  &:focus {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
}
.button-mailing {
  @extend %button;
  @include centered-flex();
  padding: 10px 28px;
  transition: box-shadow $time $animation-function;
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
  &::after {
    content: "";
    margin-left: 10px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url(../images/icon-send.svg);
  }
}

.buttons {
  @extend %button;
  padding: 10px 32px;
  @extend %centered-flex-box;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $primary-white-color;
  }
}
