.form-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.form-checkbox__input {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form-checkbox__label {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-left: 35px;

  &::after {
    @include position-element(absolute, 50%, 13px);
    transform: translateY(-50%);
    content: "";
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid $title-text-color;
    border-radius: 2px;
    transition: all $time $animation-function;
  }
}

.form-checkbox__input:checked + .form-checkbox__label::after {
  border-color: $accent-color;
  background-color: $accent-color;
  background-image: url(../images/icon-check3.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.form-checkbox__input:checked:focus + .form-checkbox__label::after {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.form-checkbox__input:focus:not(:checked) + .form-checkbox__label::after {
  border-color: $accent-color;
}
