.heroy__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $primary-white-color;
  margin-top: 0%;
  margin-bottom: 30px;
}
