%whole-logo {
  @extend %link;
  font-family: $logo-font;
  font-weight: bold;
  font-size: $font-size-logo;
  line-height: 1.2;
}

.logo {
  @extend %whole-logo;
  color: $accent-color;
  display: inline-block;
}

.logo-secondary {
  @extend %whole-logo;
  color: $title-text-color;
}
// .logo-secondary-footer
.logo-secondary-footer {
  @extend %whole-logo;
  color: $primary-white-color;
}
.footer-logo {
  @extend %whole-logo;
  display: inline-block;
  margin-bottom: 20px;
}
